$primary   : #8b5cf6;
$secondary : #86198f;
$accent    : #d946ef;

$dark      : #1e293b;
$dark-page : #0f172a;

$positive  : #22c55e;
$negative  : #ef4444;
$info      : #3b82f6;
$warning   : #fbbf24;
