/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
a {
    @apply tw-text-primary-500 tw-no-underline;
}

a:hover,
a:focus {
    @apply tw-text-primary-600 dark:tw-text-primary-400;
}

a:focus {
    @apply tw-outline-1;
}

.tw-dark {
    input {
        color-scheme: dark;
    }
}
*/
