@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    a {
        @apply tw-text-primary-500 dark:tw-text-primary-400;
    }

    a:hover,
    a:hover {
        @apply tw-text-primary-700 dark:tw-text-primary-300;
    }

    a:focus {
        @apply tw-outline-1;
    }
}
